/* all names regarding code completion are in README.txt file 
    as most files are collaborative*/

body
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    background-size:100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.header{
    overflow: hidden;
    background-color: #007BFF;
    background-size: 100%;
    background-position: center;
    background-repeat:no-repeat;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 0;
}

.header .logo{
    height: 100%;
    margin-left: 120px;
    display: flex;
    align-items: center;
}

.logo img{
    height: 70%;
    width: 100%;
    border-radius: 20px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 30px;
    width: 515px;
    height: fit-content;
    padding-bottom: 10px;
    border-radius: 50px;
    background-color: white;
    border: 2px solid rgb(164, 128, 223);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.search-bar img {
    height: 25px;
    width: 25px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.search-bar input {
    margin-top: 10px;
    margin-left: 10px;
    width: 85%;
    height: 25px;
    background-color: transparent;
    border: none;
    outline: none;
    
}

.search-bar input:focus {
    border: none;
}

.search-bar input::placeholder{
    color: black;
}

.container{
    width: 712px;
}

.place-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: space-between;
    justify-content: center;
    background-color: rgb(21, 147, 231);
    border: 1px solid rgb(164, 128, 223);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin: 10px;
    text-align: center;
}

.place-desc{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 120px;
    padding: 10px;
}

.place-desc img {
    margin-left: 20px;
    height: 30px;
    width: 30px;
    transition: transform 0.2s;
    cursor: pointer;
}

.place-desc img:hover{
    transform: scale(1.2);
    filter: brightness(80%);
}

.icon-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-container img {
    margin-right: 20px;
    height: 25px;
    width: 25px;
    margin-bottom: 0%;
}

.temp-container{
    height: fit-content;
    width: 176px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.temp-container h3{
    margin-top: 0%;
    color: rgb(39, 36, 36);
}

.place-desc h1 {
    width: 176px;
    margin-bottom: 0%;
}

.place-desc h2 {
    width: 70px;
    font-size: 12px;
    font-weight: 600;
    margin-top: 0%;
    margin-bottom: 0%;
    width: auto;
}

.place-desc p {
    font-size: 12px;
    color: rgb(29, 27, 27);
    margin-top: 0%
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none; /* Initially hidden */
}

.loading-spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

.loading-inner-overlay {
    margin: 100px;
    top: 0;
    left: 0;
    width: 10%;
    height: 10%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none; /* Initially hidden */
}

.loading-inner-spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Huy */

.dark-mode
{
    background-image: url(./Images/nightSky.jpeg);
    
}
.dark-mode .header{
    background-color: rgba(1, 55, 127, 0.5);
}

.light-mode {
    background-image: url(./Images/344403.jpg);
}

.light-mode .header{
    background-color: #007BFF;
}
  